@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    color:#444;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
}

/*--------------------------------------------------------------
Preloader
--------------------------------------------------------------*/

#preloader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    text-align: center;
}

#preloader img {
    display: block;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#content {
    padding-left: 10px;
}

.overlay-modal {
    display:none;
    position:fixed;
    width: 100%;
    height: 100%;
    z-index:9999;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    position: absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: white;
    font-size:20px;
    padding:0 20px;
}

.modal-content p {
    margin: 50px 0;
    text-align: center;
}

.modal-content p span {
    cursor: pointer;
    background-color: #96190F;
    padding: 15px;
    color:white;
    margin-right: 10px;
}

.modal-content p span:hover {
    background-color: #E8661F;
}

#nav {
    margin:20px 0 30px 0;
}

#nav ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

#nav ul li { display: inline; }

#nav ul li span
{
    text-decoration: none;
    padding: 10px;
    background-color: #f9f9f9;
}

#nav ul li a
{
    border-radius:5px;
    text-decoration: none;
    padding: 10px;
    color: #fff;
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #a90329 49%, #8f0222 50%, #6d0019 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a90329 0%,#a90329 49%,#8f0222 50%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a90329 0%,#a90329 49%,#8f0222 50%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

#nav ul li a:hover
{
    color: #fff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d0019+0,8f0222+50,a90329+51,a90329+100 */
    background: #6d0019; /* Old browsers */
    background: -moz-linear-gradient(top, #6d0019 0%, #8f0222 50%, #a90329 51%, #a90329 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #6d0019 0%,#8f0222 50%,#a90329 51%,#a90329 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #6d0019 0%,#8f0222 50%,#a90329 51%,#a90329 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329',GradientType=0 ); /* IE6-9 */
}

#nav ul li a:active
{
    position: relative;
    top:1px;
}

a.pagination {
    text-decoration: none;
	margin: 0 5px;
	padding:10px;
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #a90329 49%, #8f0222 50%, #6d0019 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a90329 0%,#a90329 49%,#8f0222 50%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a90329 0%,#a90329 49%,#8f0222 50%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
	color:white;
    border-radius:5px;
}

a.pagination:hover {
    background: #6d0019; /* Old browsers */
    background: -moz-linear-gradient(top, #6d0019 0%, #8f0222 50%, #a90329 51%, #a90329 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #6d0019 0%,#8f0222 50%,#a90329 51%,#a90329 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #6d0019 0%,#8f0222 50%,#a90329 51%,#a90329 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329',GradientType=0 ); /* IE6-9 */
}

a.pagination:active {
    position: relative;
    top: 1px;
}

a.current {
    text-decoration: none;
	margin: 0 5px;
	padding:10px;
	background-color: white;
	color:#96190f;
	border: 1px solid #96190f;
    border-radius:5px;
}

input[type="text"], input[type="password"], input[type="email"] {
	width:400px;
	height:40px;
	border:1px solid #CCC3B8;
	color: #641C11;
	font-size:17px;
	box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;

	-webkit-transition: all 0.3s linear;
	-moztransition: all 0.3s linear;
	transition: all 0.3s linear;
}

textarea {
	width:400px;
    height:100px;
	border:1px solid #CCC3B8;
	color: #641C11;
	box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;

	-webkit-transition: all 0.3s linear;
	-moztransition: all 0.3s linear;
	transition: all 0.3s linear;
}

/* styling select */
select {
    border:none;
    border:1px solid #CCC3B8;
	box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}

.disabled {
    position: relative;
    cursor: not-allowed!important;
}

form {
    position:relative;
}

span.avviso {
    position: absolute;
    left: -50%;
    background-color: #fff;
    padding: 5px;
    display: none;
    white-space: nowrap;
}

.disabled:hover + span {
    display: block;
}

input[type="submit"], button.submit {
    border-radius:5px;
	padding: 0 20px;
	height:40px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,a90329+49,8f0222+50,6d0019+100 */
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #a90329 49%, #8f0222 50%, #6d0019 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a90329 0%,#a90329 49%,#8f0222 50%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a90329 0%,#a90329 49%,#8f0222 50%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

    border:none;
	color:#fff;
	cursor:pointer;
    font-family: 'Montserrat', sans-serif;
    font-size:17px;
    font-style:normal;

	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

input[type="submit"]:hover, button.submit:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6d0019+0,8f0222+50,a90329+51,a90329+100 */
    background: #6d0019; /* Old browsers */
    background: -moz-linear-gradient(top, #6d0019 0%, #8f0222 50%, #a90329 51%, #a90329 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #6d0019 0%,#8f0222 50%,#a90329 51%,#a90329 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #6d0019 0%,#8f0222 50%,#a90329 51%,#a90329 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329',GradientType=0 ); /* IE6-9 */
}

input[type="submit"]:active, button.submit:active {
    position:relative;
    top:1px;
}
